:root {
    --background-color: #ffffff;
    --content-horizontal-margin: 24px;
    font-family: 'Roboto', sans-serif;
}

/* prettier-ignore */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
}

input[type='text']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type='search']::-webkit-search-cancel-button {
    display: none;
}
