.wrapper {
	margin: 24px var(--content-horizontal-margin);
	margin-bottom: 0;
	display: flex;
}

.card {
	width: 220px;
	height: 272px;
	position: relative;
	background-color: #999;
}

.favorite {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	/* background-image: url('/public/icons/favorite.svg');
	transition: background-image 0.1s ease-out; */
}

.favorite-icon {
	width: 24px;
	height: 24px;
	opacity: 1;
	transition: opacity 0.1s ease-out;
}

.favorite input:checked ~ .favorite-icon {
	opacity: 0;
}

.favorite-active-icon {
	width: 24px;
	height: 24px;
	opacity: 0;
	transition: opacity 0.1s ease-out;
}

.favorite input:checked ~ .favorite-active-icon {
	opacity: 1;
}

/* .favorite input {
	display: none;
}

.favorite:has(input:focus) {
	fill: ;
}

.favorite:has(input:checked) {
	background-image: url('/public/icons/favorite_active.svg');
} */
