.wrapper {
	margin: 24px var(--content-horizontal-margin);
	margin-bottom: 0;
	display: flex;
}

.card {
	width: 220px;
	height: 272px;
	position: relative;
}

.favorite {
	position: absolute;
	position: relative;
}
